/*Colors*/

/*Primary - SNGreen*/
$primary: #96ce11;
/*Secondary - Black*/
$secondary: #000000;
/*Grey (Background)*/
$grey: #232323;
/*Lighter grey (accents)*/
$lightGrey: #646262;
/*Accent - White*/
$accent: #ffffff;
/*Error - Red*/
$error: #e40000;

/*Font Sizes*/
/*Main font family*/
$mainFont: "Ubuntu", sans-serif;
/*Small Text*/
$fSmall: 0.8rem;
/*Normal Text*/
$fText: 1rem;
/*Header*/
$fHeader: 1.55rem;
