/*Colors*/

/*Primary - SNGreen*/
$primary: #96CE11;
/*Secondary - Black*/
$secondary: #000000;
/*Accent - White*/
$accent: #FFFFFF;
/*Error - Red*/
$error: #E40000;

/*Font Sizes*/
/*Normal Text*/
$fText: 1rem;
/*Header*/
$fHeader: 1.55rem;
